- page_title << @server.name
- page_title << "Messages"
- page_title << "Message ##{@message.id}"
- page_title << "Plain Text"
= render 'servers/sidebar', :active_server => @server
= render 'servers/header', :active_nav => :messages
= render 'header', :active_nav => @message.scope.to_sym
= render 'message_header', :active_nav => :plain
.pageContent.pageContent--compact
  - if @message.plain_body.blank?
    .noData.noData--clean
      %h2.noData__title There's no plain text body for this message.
      %p.noData__text
        This means that we no longer store the raw data for this e-mail
        or the e-mail didn't include a plain text part.
  - else
    %pre.codeBlock= @message.plain_body
