- page_title << "Reset your password"
.subPageBox__title
  Reset your password
= display_flash
.subPageBox__content
  %p.subPageBox__text
    If you've forgotten your password, just enter your e-mail address below and we'll send you an email with a link which
    will allow you to choose a new password.
  = form_tag login_reset_path, :class => 'loginForm' do
    = hidden_field_tag 'return_to', params[:return_to]
    %p.loginForm__input= text_field_tag 'email_address', '', :class => 'input input--text input--onWhite', :placeholder => "Your e-mail address", :autofocus => true, :tabindex => 1
    .loginForm__submit
      %ul.loginForm__links
        %li= link_to "Back to login", login_path(:return_to => params[:return_to])
      %p= submit_tag "Continue", :class => 'button button--positive', :tabindex => 3

