- page_title << "Reset your password"
.subPageBox__title
  Choose a new password
= display_flash

.subPageBox__content
  %p.subPageBox__text
    If you've forgotten your password, just enter your e-mail address below and we'll send you an email with a link which
    will allow you to choose a new password.
  = form_tag '', :class => 'loginForm' do
    = error_messages_for @user
    = hidden_field_tag 'return_to', params[:return_to]
    %p.loginForm__input= password_field_tag 'password', params[:password], :class => 'input input--text input--onWhite', :placeholder => "Choose a new password", :autofocus => true, :tabindex => 1
    %p.loginForm__input= password_field_tag 'password_confirmation', params[:password_confirmation], :class => 'input input--text input--onWhite', :placeholder => "and enter it again to confirm", :tabindex => 2

    .loginForm__submit
      %ul.loginForm__links
        %li= link_to "Back to login", login_path(:return_to => params[:return_to])
      %p= submit_tag "Login", :class => 'button button--positive', :tabindex => 3

