- page_title << "IPs"
- page_title << "Rules"

.pageHeader
  %h1.pageHeader__title
    %span.pageHeader__titlePrevious
      = @organization.name
      &rarr;
    Dedicated IPs

= render 'organizations/nav', :active_nav => :ips
= render 'nav', :active_nav => :ips
.pageContent.pageContent--compact
  - if @ip_pools.empty?
    .noData.noData--koala.noData--clean
      - if @server.nil?
        %h2.noData__title You don't have any dedicated IP addresses.
        %p.noData__text
          Once you've been assigned dedicated IP addresses they will appear here. You can then use them in rules and
          for servers. To request dedicated IP addresses please contact our team.
  - else
    .ipList
      - for ip_pool in @ip_pools
        .ipList__item
          %p.ipList__name= ip_pool.name
          %ul.ipList__addressList
            %li.ipList__address.ipList__address--header
              %p.ipList__ipv4 IPv4 Address
              %p.ipList__ipv6 IPv6 Address
              %p.ipList__hostname Hostname

            - for address in ip_pool.ip_addresses
              %li.ipList__address
                %p.ipList__ipv4= address.ipv4
                %p.ipList__ipv6= address.ipv6
                %p.ipList__hostname= address.hostname


