= form_for [@ip_pool, @ip_address], :remote => true, :html => { :id => 'ip-address-form' } do |f|
  = f.error_messages
  %fieldset.fieldSet
    %h3 IP Address Settings
    .fieldSet__field
      = f.label :ipv4, :class => 'fieldSet__label'
      .fieldSet__input= f.text_field :ipv4, :autofocus => true, :class => 'input input--text'
    .fieldSet__field
      = f.label :ipv6, :class => 'fieldSet__label'
      .fieldSet__input= f.text_field :ipv6, :class => 'input input--text'
    .fieldSet__field
      = f.label :hostname, :class => 'fieldSet__label'
      .fieldSet__input= f.text_field :hostname, :class => 'input input--text'
    .fieldSet__field
      = f.label :priority, :class => 'fieldSet__label'
      .fieldSet__input
        = f.text_field :priority, :class => 'input input--text', placeholder: '100'
        %p.fieldSet__text
          This priority will determine the likelihood of this IP address being selected
          for use when sending a message. The higher the number the more likely the IP
          is to be chosen. By default, the priority is set to the maximum value of 100.
          This can be used to warm up new IP addresses by adding them with a low priority.
          To give an indication of how this works, if you have three IPs with 1, 50 and 100
          as their priorities, and you send 100,000 emails, the priority 1 address will receive
          a tiny percentage, the priority 50 will receive roughly one third of e-mails and the
          priority 100 will receive roughly two thirds.

  %fieldset.fieldSet
    %h3 🚀 Proxy Settings (Optional)
    .fieldSet__field
      .fieldSet__input
        = f.label :use_proxy do
          = f.check_box :use_proxy, :class => 'input input--checkbox', :id => 'use-proxy-checkbox'
          Use SOCKS5 proxy for this IP address
        %p.fieldSet__text
          Enable this to send emails through a SOCKS5 proxy on another server. Recipients will see the proxy server's IP instead of this one.

    #proxy-settings{:style => (@ip_address.use_proxy ? '' : 'display: none;')}
      .fieldSet__field
        = f.label :proxy_auto_install, "Auto-install proxy?", :class => 'fieldSet__label'
        .fieldSet__input
          = f.label :proxy_auto_install do
            = f.check_box :proxy_auto_install, :class => 'input input--checkbox', :id => 'auto-install-checkbox'
            Automatically install Dante SOCKS server on remote server
          %p.fieldSet__text
            Enable this to automatically install and configure Dante SOCKS5 server via SSH. You'll need to provide SSH credentials below.

      #manual-proxy-settings{:style => (@ip_address.proxy_auto_install ? 'display: none;' : '')}
        .fieldSet__field
          = f.label :proxy_host, "Proxy Host", :class => 'fieldSet__label'
          .fieldSet__input= f.text_field :proxy_host, :class => 'input input--text', placeholder: '127.0.0.1 or remote IP'
        .fieldSet__field
          = f.label :proxy_port, "Proxy Port", :class => 'fieldSet__label'
          .fieldSet__input= f.text_field :proxy_port, :class => 'input input--text', placeholder: '1080'
        .fieldSet__field
          = f.label :proxy_username, "Proxy Username (optional)", :class => 'fieldSet__label'
          .fieldSet__input= f.text_field :proxy_username, :class => 'input input--text'
        .fieldSet__field
          = f.label :proxy_password, "Proxy Password (optional)", :class => 'fieldSet__label'
          .fieldSet__input= f.password_field :proxy_password, :class => 'input input--text'

      #auto-install-settings{:style => (@ip_address.proxy_auto_install ? '' : 'display: none;')}
        .fieldSet__field
          = f.label :proxy_ssh_host, "Remote Server IP", :class => 'fieldSet__label'
          .fieldSet__input
            = f.text_field :proxy_ssh_host, :class => 'input input--text', placeholder: 'IP address of server to install proxy'
            %p.fieldSet__text
              This is the IP address of the server where Dante SOCKS proxy will be installed. Emails will appear to come from this IP.
        .fieldSet__field
          = f.label :proxy_ssh_port, "SSH Port", :class => 'fieldSet__label'
          .fieldSet__input= f.text_field :proxy_ssh_port, :class => 'input input--text', placeholder: '22'
        .fieldSet__field
          = f.label :proxy_ssh_username, "SSH Username", :class => 'fieldSet__label'
          .fieldSet__input= f.text_field :proxy_ssh_username, :class => 'input input--text', placeholder: 'root'
        .fieldSet__field
          = f.label :proxy_ssh_password, "SSH Password", :class => 'fieldSet__label'
          .fieldSet__input
            = f.password_field :proxy_ssh_password, :class => 'input input--text'
            %p.fieldSet__text
              ⚠️ Password will be encrypted. SSH key authentication support coming soon.

      - if @ip_address.persisted?
        .fieldSet__field
          %label.fieldSet__label Proxy Status
          .fieldSet__input
            %p
              %strong= @ip_address.proxy_status.humanize
              - if @ip_address.proxy_last_tested_at
                %br
                Last tested: #{time_ago_in_words(@ip_address.proxy_last_tested_at)} ago
              - if @ip_address.proxy_last_test_result.present?
                %br
                %code= @ip_address.proxy_last_test_result

        .fieldSet__field
          .fieldSet__input
            %button.button.button--secondary{:type => 'button', :id => 'test-proxy-btn', :data => {:ip_address_id => @ip_address.id, :ip_pool_id => @ip_pool.uuid}}
              🧪 Test Proxy Connection
            - if @ip_address.proxy_auto_install && @ip_address.proxy_ssh_host.present?
              %button.button.button--secondary{:type => 'button', :id => 'install-proxy-btn', :data => {:ip_address_id => @ip_address.id, :ip_pool_id => @ip_pool.uuid}, :style => 'margin-left: 10px;'}
                📦 Install Proxy Now
            %span#proxy-test-result{:style => 'margin-left: 15px;'}

  .fieldSetSubmit.buttonSet
    = f.submit :class => 'button button--positive js-form-submit'
    .fieldSetSubmit__delete
      - if @ip_address.persisted?
        = link_to "Delete IP address", [@ip_pool, @ip_address], :class => 'button button--danger', :method => :delete, :remote => true, :data => {:confirm => "Are you sure you wish to remove this IP from the pool?"}

:javascript
  $(document).ready(function() {
    // Toggle proxy settings visibility
    $('#use-proxy-checkbox').change(function() {
      if ($(this).is(':checked')) {
        $('#proxy-settings').slideDown();
      } else {
        $('#proxy-settings').slideUp();
      }
    });

    // Toggle auto-install vs manual settings
    $('#auto-install-checkbox').change(function() {
      if ($(this).is(':checked')) {
        $('#manual-proxy-settings').slideUp();
        $('#auto-install-settings').slideDown();
      } else {
        $('#auto-install-settings').slideUp();
        $('#manual-proxy-settings').slideDown();
      }
    });

    // Test proxy connection
    $('#test-proxy-btn').click(function() {
      var btn = $(this);
      var ipAddressId = btn.data('ip-address-id');
      var ipPoolId = btn.data('ip-pool-id');
      var resultSpan = $('#proxy-test-result');

      btn.prop('disabled', true).text('Testing...');
      resultSpan.html('<span style="color: #666;">⏳ Testing connection...</span>');

      $.ajax({
        url: '/ip_pools/' + ipPoolId + '/ip_addresses/' + ipAddressId + '/test_proxy',
        method: 'POST',
        success: function(data) {
          if (data.success) {
            resultSpan.html('<span style="color: green;">✅ ' + data.message + '</span>');
          } else {
            resultSpan.html('<span style="color: red;">❌ ' + data.message + '</span>');
          }
        },
        error: function() {
          resultSpan.html('<span style="color: red;">❌ Test failed</span>');
        },
        complete: function() {
          btn.prop('disabled', false).text('🧪 Test Proxy Connection');
          setTimeout(function() { resultSpan.fadeOut(); }, 10000);
        }
      });
    });

    // Install proxy
    $('#install-proxy-btn').click(function() {
      var btn = $(this);
      var ipAddressId = btn.data('ip-address-id');
      var ipPoolId = btn.data('ip-pool-id');
      var resultSpan = $('#proxy-test-result');

      if (!confirm('This will install Dante SOCKS server on the remote server. Continue?')) {
        return;
      }

      btn.prop('disabled', true).text('Installing...');
      resultSpan.html('<span style="color: #666;">📦 Installation started...</span>');

      $.ajax({
        url: '/ip_pools/' + ipPoolId + '/ip_addresses/' + ipAddressId + '/install_proxy',
        method: 'POST',
        success: function(data) {
          if (data.success) {
            resultSpan.html('<span style="color: green;">✅ ' + data.message + '</span>');
          } else {
            resultSpan.html('<span style="color: red;">❌ ' + data.message + '</span>');
          }
        },
        error: function() {
          resultSpan.html('<span style="color: red;">❌ Installation failed</span>');
        },
        complete: function() {
          btn.prop('disabled', false).text('📦 Install Proxy Now');
        }
      });
    });
  });
