- page_title << @server.name
- page_title << "Settings"
- page_title << "Admin"
= render 'sidebar', :active_server => @server
= render 'header', :active_nav => :settings
= render 'settings_header', :active_nav => :admin
.pageContent.pageContent--compact
  .u-margin
    = form_for [organization, @server], :remote => true do |f|
      = f.error_messages
      %fieldset.fieldSet.fieldSet--wide
        .fieldSet__field
          = f.label :send_limit, :class => 'fieldSet__label'
          .fieldSet__input= f.text_field :send_limit, :autofocus => true, :class => 'input input--text'
        .fieldSet__field
          = f.label :allow_sender, "Allow sender header", :class => 'fieldSet__label'
          .fieldSet__input= f.select :allow_sender, [["No", false], ["Yes - can use Sender header", true]], {}, :class => 'input input--select'
        .fieldSet__field
          = f.label :log_smtp_data, "Log SMTP data?", :class => 'fieldSet__label'
          .fieldSet__input= f.select :log_smtp_data, [["No", false], ["Yes - log all SMTP DATA (debug only)", true]], {}, :class => 'input input--select'
        .fieldSet__field
          = f.label :outbound_spam_threshold, :class => 'fieldSet__label'
          .fieldSet__input= f.text_field :outbound_spam_threshold, :class => 'input input--text', :placeholder => "No outbound spam checking"
        .fieldSet__field
          = f.label :message_retention_days, :class => 'fieldSet__label'
          .fieldSet__input= f.text_field :message_retention_days, :class => 'input input--text'
        .fieldSet__field
          = f.label :raw_message_retention_days, :class => 'fieldSet__label'
          .fieldSet__input= f.text_field :raw_message_retention_days, :class => 'input input--text'
        .fieldSet__field
          = f.label :raw_message_retention_size, :class => 'fieldSet__label'
          .fieldSet__input= f.text_field :raw_message_retention_size, :class => 'input input--text'
        .fieldSet__field
          = f.label :ip_pool_id, :class => 'fieldSet__label'
          .fieldSet__input= f.collection_select :ip_pool_id, IPPool.order(:name), :id, :name, {}, :class => 'input input--select'

      .fieldSetSubmit.fieldSetSubmit--wide.buttonSet
        = f.submit "Save server", :class => 'button button--positive js-form-submit'

  - if @server.suspended_at
    = form_tag [:unsuspend, organization, @server], :remote => true do
      .fieldSetSubmit.fieldSetSubmit--wide.buttonSet
        = submit_tag "Unsuspend server", :class => 'button button--danger js-form-submit'

  - else
    = form_tag [:suspend, organization, @server], :remote => true do
      %fieldset.fieldSet.fieldSet--wide
        .fieldSet__field
          = label_tag :reason, 'Suspension Reason', :class => 'fieldSet__label'
          .fieldSet__input= text_field_tag :reason, '', :class => 'input input--text', :required => true

      .fieldSetSubmit.fieldSetSubmit--wide.buttonSet
        = submit_tag "Suspend server", :class => 'button button--positive js-form-submit'
