- page_title << "Verify your e-mail address"
.pageHeader
  %h1.pageHeader__title
    Please verify your e-mail address
.pageContent.pageContent--compact
  %h2.pageContent__intro.u-margin
    We need to verify that you're the owner of the e-mail address on your account. It is currently <b>#{current_user.email_address}</b>. To
    do this, we've sent you an e-mail with a 6-digit code. Please check your e-mail and enter the code within in the box below.
  %p.pageContent__text
    If you need to change your e-mail address, you can do this in from your #{link_to 'settings page', settings_path, :class => "u-link"}.
    If you haven't received the e-mail, you can #{link_to 'click here to resend it', '', :class => "u-link"}.
  = form_tag request.fullpath, :remote => true do
    = hidden_field_tag 'return_to', params[:return_to]
    %p.u-margin
      = text_field_tag "code", params[:code], :autofocus => true, :class => 'input input--text js-multibox'
    .buttonSet.u-center
      = submit_tag "Verify my e-mail address", :class => 'button button--positive js-form-submit'

