- page_title << organization.name
- page_title << "Delete"
.pageHeader
  %h1.pageHeader__title
    %span.pageHeader__titlePrevious
      = organization.name
      &rarr;
    Delete organization
= render 'nav', :active_nav => :delete
.pageContent.pageContent--compact
  %h2.pageContent__intro.u-margin
    If you no longer need this organization you can delete it. When you delete an organization
    all its mail servers & data will be deleted from our systems.
  .dangerZone
    %p.pageContent__text.u-margin
      To continue to delete this organization, please enter the name of the organization in the field below and press
      continue. <b class='u-red'>There will be no other confirmations.</b>
    = form_tag [organization, :delete], :method => :delete, :remote => true do
      = hidden_field_tag 'return_to', params[:return_to]
      %p.u-margin
        = text_field_tag "confirm_text", '', :class => 'input input--text input--danger'
      .buttonSet.u-center
        = submit_tag "Delete this organization, mail servers and all messages", :class => 'button button--danger js-form-submit'
