- page_title << "Welcome"

.pageHeader
  %h1.pageHeader__title Welcome to Postal, #{current_user.first_name}

.pageContent.pageContent--compact

  - if @organizations.empty?
    .noData.noData--clean
      %p.noData__title There are no organizations.
      - if current_user.admin?
        %p.noData__text
          You need an organization otherwise you can't do much here. Hit
          the button below to create the first organization.
        %p.noData__button= link_to "Create the first organization", :new_organization, :class => 'button button--positive'
      - else
        %p.noData__text
          You don't have access to any organizations yet. Ask your administrator to invite
          you to some organizations.
  - else
    %p.pageContent__intro.u-margin
      Organizations are entities which are able to deploy mail servers.
      Choose an existing organization from the list opposite or use the button below
      to create a new one.

    %ul.largeList.u-margin
      - for organization in @organizations
        %li.largeList__item
          = link_to organization_root_path(organization), :class => 'largeList__link' do
            = organization.name

    - if current_user.admin?
      %p.u-center= link_to "Start another organization", :new_organization, :class => 'button button--positive'
